#!/bin/bash

# Terraform-provided variables (single $ for Terraform interpolation)

SSH_KEYS='${SSH_KEYS}'
ALLOW_ROOT='${ALLOW_ROOT}'

# Local variable for installing keys in root

TARGET_USER='${TARGET_USER}'
TARGET_HOME='${TARGET_HOME}'
ROOT_USER='${ROOT_USER}'
ROOT_HOME='${ROOT_HOME}'

set -euo pipefail
shopt -s failglob

# SSH Key Management

if [ -n "${SSH_KEYS}" ]; then
    if [ ! -d "$${TARGET_HOME}/.ssh" ]; then
      mkdir -p "$${TARGET_HOME}/.ssh"
      chmod 700 "$${TARGET_HOME}/.ssh"
      touch "$${TARGET_HOME}/.ssh/authorized_keys"
    fi
    
    # Process keys one by one to avoid multi-line issues

    echo "$${SSH_KEYS}" | while read -r key; do
        if [ -n "$${key}" ] && ! grep -qF "$${key}" "$${TARGET_HOME}/.ssh/authorized_keys"; then
            echo "$${key}" >> "$${TARGET_HOME}/.ssh/authorized_keys"
        fi
    done

    chmod 600 "$${TARGET_HOME}/.ssh/authorized_keys"
    chown -R "$${TARGET_USER}":"$${TARGET_USER}" "$${TARGET_HOME}/.ssh"
fi

# --- SSH Key Management for additional keys (This is ONLY for root) ---

if [ -n "$${SSH_KEYS}" ] && [ "$${ALLOW_ROOT}" = "true" ]; then
    echo "Starting SSH Key Management Deployment for ${ROOT_USER}"

    if [ ! -d "$${ROOT_HOME}/.ssh" ]; then
      mkdir -p "$${ROOT_HOME}/.ssh"
      chmod 700 "$${ROOT_HOME}/.ssh"
      touch "$${ROOT_HOME}/.ssh/authorized_keys"
    fi
    
    echo "$${SSH_KEYS}" | while read -r key; do
        if [ -n "$${key}" ] && ! grep -qF "$${key}" "$${ROOT_HOME}/.ssh/authorized_keys"; then
            echo "$${key}" >> "$${ROOT_HOME}/.ssh/authorized_keys"
        fi
    done

    chmod 600 "$${ROOT_HOME}/.ssh/authorized_keys"
    chown -R "$${ROOT_USER}":"$${ROOT_USER}" "$${ROOT_HOME}/.ssh"
    echo "Ending SSH Key Management Deployment for $${ROOT_USER}""
fi
